* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*====================== HEADER CSS ==================== */

.header {
  background-image: url("./app/assets/main.jpg");
  width: 100%;
  height: 100vh;
}

/*===================NAVBAR CSS================================*/
.navbarContainer {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: animate;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-direction: forwards;
  animation-timing-function: ease;
  opacity: 1;
}

@keyframes animate {
  40% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  color: aliceblue;
}

.links {
  display: flex;

  justify-content: space-between;
  color: white;
}

/*============ CENTERING COMPONENT IN HEADER ================*/

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;

  text-align: center;
  animation-name: center;
  animation-direction: forwards;
  animation-duration: 1s;
  margin-top: 10px;
  animation-timing-function: ease;
  opacity: 1;
}

@keyframes center {
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.title {
  font-size: 60px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.subtitle {
  color: aliceblue;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: bold;
  word-spacing: 3px;
  line-height: 30px;
  margin-top: 20px;
  text-transform: capitalize;
}

.contactBtn {
  padding: 14px 50px;
  border: none;
  outline: none;
  background-color: #07689f;
  font-size: 16px;
  color: aliceblue;
  font-weight: bold;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  text-transform: uppercase;
}

.contactBtn:hover {
  top: 4px;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.4);
}

.contactBtn:active {
  top: 2px;
  box-shadow: 0px 0px rgba(0, 0, 0, 0.4);
}

/* =======DESTINATION PAGE COMPONENT STYLING =========*/
.mount1 {
  background-image: url("./app/assets/mountain1.jpg");
}
.mount2 {
  background-image: url("./app/assets/mountain2.jpg");
}

.mount3 {
  background-image: url("./app/assets/mountain3.jpg");
}
.mount4 {
  background-image: url("./app/assets/mountain4.jpg");
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.destination .grid li {
  list-style: none;
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.destination .grid li.small {
  width: 30%;
}

.destination .grid li.large {
  width: 70%;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #3f51b5;
  border: 0;
  margin: 50px auto;
}
.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.destination h3 {
  margin: 20px auto;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 3px;
}
.destination p {
  font-size: 19px;
  letter-spacing: 2px;
  word-spacing: 11px;
  line-height: 1.5;
}

@media (max-width: 1100px) {
  .destination .grid li.small {
    width: 50%;
  }

  .destination .grid li.large {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .destination .grid li.small {
    width: 100%;
  }
  .destination .grid li.large {
    width: 100%;
  }
}

/*============ Media Query of Navbar ================*/

@media (max-width: 800px) {
  .logo {
    display: none;
  }
  .navbarContainer {
    justify-content: center;
  }
}
/*============ Media Query CENTERING COMPONENT IN HEADER ================*/

@media (max-width: 750px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
  }
  .contactBtn {
    font-size: 14px;
  }
}
